{% extends 'app/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="color:#EFFBFF;">予想詳細</h1>
        <br>
        <br>
        <div class="card text-center" style="background-color:#36474f;">
            <div class="card-header" style="background-color:#00acb5; color:#EFFBFF;">
                <p class="text-center fs-2">{{ race.race_date|date:"M" }}{{ race.race_date|date:"d" }}日({{ race.race_date|date:"D" }})&nbsp;&nbsp;{{race.race_park}}{{race.race_number}}R&nbsp;{{race.race_name}}</p>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-evenly">
                    <p class="fs-3" style="color:#EFFBFF;">{{object.author}}さんの予想</p>
                </div>  
                <div class="card" style="background-color: #EFFBFF; color:#3E484C;">

                    <div class="card-body">
                        {% comment %} <p>{{object.race}}</p> {% endcomment %}
                        
                        <div class="card-text list-unstyled fs-5" >
                            <p class="fw-bold">軸馬</p>
                            <p>{{ object.favorite_horse}}</p>

                            <p class="fw-bold">紐馬１</p>
                            <p>{{ object.longshot_horse_1}}</p>

                            <p class="fw-bold">紐馬２</p>
                            <p>{{ object.longshot_horse_2}}</p>
                            <p class="fw-bold">紐馬３</p>
                            <p>{{ object.longshot_horse_3}}</p>
                            <br>
                            <p class="fw-bold">予想理由</p>
                            <p>{{ object.forecast_reason}}</p>
                        </div>

                    </div>

                </div>
                <br>
                <br>
                {% for comment in comment_list %}
                <div class="card text-center" style="background-color: #EFFBFF; color:#3E484C;">
                    <div class="card-body">
                        <p class="fs-5 fw-bold">レース後コメント</p>
                        <p>{{ comment.after_comment}}</p>
                        <p class="fs-5 fw-bold">注目馬</p>
                        <p>{{ comment.attention_horse}}</p>
                        <p class="fs-5 fw-bold">注目理由</p>
                        <p>{{ comment.attention_reason}}</p>
                        {% if object.author == request.user %}
                        <a href="{% url 'forecast:delete_aftercomment' comment.pk %}" class="btn fs-5 btn-danger">削除</a>          
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
        <div class="d-flex align-items-center justify-content-evenly">
            {% if object.author == request.user %}
            <a href="{% url 'forecast:update_beforecomment' object.pk %}" class="btn fs-5"
                style="color:#3E484C; background-color:#EFFBFF;">予想を更新する</a>
            <a href="{% url 'forecast:create_aftercomment' object.pk %}" class="btn fs-5" style="background-color:#00acb5; color:#EFFBFF;">レース回顧を投稿する</a>                         
            <a href="{% url 'forecast:delete_beforecomment' object.pk %}" class="btn fs-5 btn-danger">削除</a>
            {% endif %}
            <a href="{% url 'forecast:timeline'%}" class="btn fs-5 btn-dark">戻る</a>
        </div>
    </div>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        //a = document.getElementById("race_result").value
        //console.log(a) 
        $(document).ready(function(event){
            //event.preventDefault()
            console.log(document.getElementById("race_result").value)
            let data = new FormData();
            data.append("race_id", document.getElementById("race_result").value)
            console.log(data)
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"    
            console.log(data.get('race_id'));
            axios.post('{% url "forecast:judgecomment" %}', data)
            .then(function (response){
                res = response.data;
                console.log(res)
                let rank_list  = res["rank_list"];
                if (rank_list.every(x => x == '*')){
                    $('#afterrace').prop('disabled',true);
                }else{
                    $('#afterrace').prop('disabled',false);
                    $('#beforerace').prop('disabled',true);
                }


            })
            .catch(errors => console.log(errors))
        })

        
    </script>
{% endblock %}