{% extends 'app/base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <h1 class="text-center" style="color:#EFFBFF;">{{ RACE_DATE|date:"M" }}{{ RACE_DATE|date:"d" }}日({{ RACE_DATE|date:"D" }})のレース一覧</h1>
        <br>
        <br>
        <div class="row">
            {% if race_list|length == 24 %}
                <div class="col-lg-6 col-md-6">
                    {% for race in race_list|slice:":12" %}
                        {% if forloop.first %}
                            <h2 class="text-center" style="color:#EFFBFF;">{{ race.race_park }}</h2>
                            <br>
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/straight_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/straight_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-6 col-md-6">
                    {% for race in race_list|slice:"12:" %}
                        {% if forloop.first %}
                            <h2 class="text-center" style="color:#EFFBFF;">{{ race.race_park }}</h2>
                            <br>
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/face_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3"  style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/face_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3"  style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-lg-4 col-md-4">
                    {% for race in race_list|slice:":12" %}
                        {% if forloop.first %}
                            <h2 class="text-center" style="color:#EFFBFF;">{{ race.race_park }}</h2>
                            <br>
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/straight_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title" style="color:#EFFBFF;">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5" style="color:#EFFBFF;">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/straight_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title" style="color:#EFFBFF;">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5" style="color:#EFFBFF;">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>

                
                <div class="col-lg-4 col-md-4">
                    {% for race in race_list|slice:"12:24" %}
                        {% if forloop.first %}
                            <h2 class="text-center" style="color:#EFFBFF;">{{ race.race_park }}</h2>
                            <br>
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/face_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/face_horse.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-lg-4 col-md-4">

                    {% for race in race_list|slice:"24:" %}
                        {% if forloop.first %}
                            <h2 class="text-center" style="color:#EFFBFF;">{{ race.race_park }}</h2>
                            <br>
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/horse-racing.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6"> 
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="card bg-dark" style="color:#EFFBFF;">
                                <img
                                    src="{% static 'img/horse-racing.jpg' %}"
                                    class="card-img"
                                    alt="..."
                                    style="height: 7.5rem; opacity: 0.5; filter: grayscale(100%);"
                                />
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{ race.race_number }}R&nbsp;{{ race.race_name }}</h3>
                                    <div class="row">
                                        <div class="col-6"> 
                                            <p class="card-text fs-5">
                                            {{ race.race_type }}{{ race.course_len }}m({{ race.race_turn }})&nbsp;{{ race.n_horses }}頭
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a  href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="color:#EFFBFF;">予想を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <br>            
{% endblock %}