{% extends 'app/base.html' %}

{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="row"> 
            <div class="col-md-3" style="position:fixed; height:100%; overflow-y:auto;">
                <div class="card">
                    <div class="card-header text-center " style="background-color:#00acb5; color:#EFFBFF;">
                        <p style="margin: 0; ">他のレースの予想を見る</p>
                    </div>
                    <div class="card-body" style="background-color:#36474f; color:#EFFBFF;">
                        <form action="{% url 'forecast:search' %}" method="POST" id="search">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <p>
                            {{ result.as_p}}
                            </p>
                            <br>
                            <div class="text-center">
                                <button id="show" type="submit" class="btn fs-6" style="color:#3E484C; background-color:#EFFBFF;">検索</button>
                            </div>
                        </form>
                    </div>
                </div> 
                <br>
                <div class="card">
                    <a href="{% url 'forecast:race' %}"  onclick="window.history.back();" class="btn fs-6 btn-dark">レース一覧に戻る</a>
                </div>
            </div>
            <div class="col-md-9 offset-md-3">
                <div class= "card bg-dark text-white" style="width: 60rem; height: 15rem;" id="race_information">
                    <img src="{% static 'img/background.jpg' %}" style="width: 60rem; height: 15rem; opacity: 0.5; filter: grayscale(100%);" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-6">
                            <div class="d-flex">
                                <h1 id="race_park_hold"></h1>
                                <h1 id="race_number_hold"></h1>
                            </div>
                            <br>
                            <h1 id="race_name_hold"></h1>
                            <br>
                            <div class="d-flex">
                                <h1 id="race_type_hold"></h1>
                                <h1 id="course_len_hold"></h1>
                                <h1 id="race_turn_hold"></h1>
                            </div>
                            </div>
                            <div class="col-6">
                            <div class="d-flex">
                                <h1>天候：</h1>
                                <h1 id="weather_hold"></h1>
                            </div>
                            <br>
                            <div class="d-flex">
                                <h1>出走頭数：</h1>
                                <h1 id="n_horses_hold"></h1>
                            </div>
                            <br>
                            <div class="d-flex">
                                <h1>馬場状態：</h1>
                                <h1 id="race_condition_hold"></h1>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3 " id="resultTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                        class="nav-link active fs-3"
                        id="tab-1"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-1"
                        role="tab"
                        aria-controls="ex1-tabs-1"
                        aria-selected="true"
                        style="background-color:#00acb5; color:#EFFBFF;"
                        >出馬表</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                        class="nav-link fs-3"
                        id="tab-2"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-2"
                        role="tab"
                        aria-controls="ex1-tabs-2"
                        aria-selected="false"
                        disabled
                        style="background-color:#253237;color:#EFFBFF;"
                        >結果</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
                <br>
                <!-- Tabs content -->
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <div id="race_card">
                            <div class="card" style="padding: 0;">
                                <div class="card-header fs-1" style="background-color:#00acb5; color:#EFFBFF;">出馬表</div>
                                <div class="card-body" style="background-color:#36474f;">
                                    <div id="showData"></div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-header fs-1" style="background-color:#00acb5; color:#EFFBFF;">軸馬＆紐馬</div>
                                <div class="card-body" style="background-color:#36474f; color:#EFFBFF;">
                                    <div id="showBet"></div>
                                    <br>
                                    <div id="showHorse"></div>
                                    <div id="CenterHorse" class="fs-4"></div>
                                    <br>
                                    <div id="BetHorse_1" class="fs-4"></div>
                                    <div id="BetHorse_2" class="fs-4"></div>
                                    <div id="BetHorse_3" class="fs-4"></div>
                                    <br>
                                    <br>
                                    <div id="recommend"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <div id="result_card">
                            <div class="card" style="padding: 0;">
                                <div class="card-header fs-1" style="background-color:#00acb5; color:#EFFBFF;">レース結果</div>
                                <div class="card-body" style="background-color:#36474f;">
                                    <div id="showResult"></div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="card" style="padding: 0;">
                                <div class="card-header fs-1" style="background-color:#79d1d5;">軸馬＆紐馬　結果</div>
                                <div class="card-body" style="background-color:#36474f; color:#EFFBFF;">
                                    <div id="showBet"></div>
                                    <br>
                                    <div id="showMoney"></div>
                                    <div id="CenterHorse_r" class="fs-4"></div>
                                    <br>
                                    <div id="BetHorse_1_r" class="fs-4"></div>
                                    <div id="BetHorse_2_r" class="fs-4"></div>
                                    <div id="BetHorse_3_r" class="fs-4"></div>
                                    <br>
                                    <br>
                                    <div id="result"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabs content -->
            </div>
        </div>
    <br>
    <br>
    </div>
   
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    //タブ関係
    const triggerTabList = [].slice.call(document.querySelectorAll('#resultTab a'));
        triggerTabList.forEach((triggerEl) => {
        const tabTrigger = new mdb.Tab(triggerEl);
        let race_card = document.getElementById('tab-1')
        let race_result = document.getElementById('tab-2')
        triggerEl.addEventListener('click', (event) => {

            //タブ切り替え時の背景
            if ($("#tab-1").hasClass("active")) {
                race_card.style.backgroundColor = '#00acb5';
                race_result.style.backgroundColor = '#253237';
            } else  {
                race_card.style.backgroundColor = '#253237';
                race_result.style.backgroundColor = '#00acb5';
            }
            event.preventDefault();
            tabTrigger.show();
        });
    });

  </script>


  <script>
    //Django→JSの値受け渡し
    {% autoescape off %}
    let data_pre = {{ data_pre }};
    let data_lat = {{ data_lat }};
    let data_re = {{ data_re }};
    {% endautoescape %}

    
    let result_list = Object.values(data_lat);
    let return_list = Object.values(data_re);
    let race_list = Object.values(data_pre);
    

    let disable_judge = []
    for (let i = 0; i < result_list.length; i++){
        disable_judge.push(result_list[i]["rank"]);
    }
    //const disable_judge = result_list.map(x =>x.rank);
    if (disable_judge.every(x => x == '*')){
        $('#ex1-tab-2').prop({'class': 'disabled'});
    }else{
        $('#ex1-tab-2').removeProp({'class': 'disabled'});
    }


    
    $("#race_park_hold").text(`${race_list[1]["race_park"]}`);
    $("#race_number_hold").text(`${race_list[1]["race_number"]}R`);
    $("#race_name_hold").text(`${race_list[1]["race_name"]}`);
    $("#course_len_hold").text(`${race_list[1]["course_len"]}m`);
    $("#n_horses_hold").text(`${race_list[1]["n_horses"]}頭`);
    $("#race_condition_hold").text(`${race_list[1]["race_condition"]}`);
    $("#race_turn_hold").text(`(${race_list[1]["race_turn"]})`);
    $("#race_type_hold").text(`${race_list[1]["race_type"]}`);
    $("#weather_hold").text(`${race_list[1]["weather"]}`);

    const pred = race_list.map(race =>race.pred);
    const center = race_list.map(race =>race.center);
    const bet = race_list.map(race =>race.bet);



    for (let i = 0; i < race_list.length; i++) {
        delete race_list[i]["race_date"];
        delete race_list[i]["horse_id"];
        delete race_list[i]["race_park"];
        delete race_list[i]["race_number"];
        delete race_list[i]["race_name"];
        delete race_list[i]["course_len"];
        delete race_list[i]["n_horses"];
        delete race_list[i]["race_condition"];
        delete race_list[i]["race_turn"];
        delete race_list[i]["race_type"];
        delete race_list[i]["weather"]; 
        delete race_list[i]["pred"];
        delete race_list[i]["center"];
        delete race_list[i]["bet"];
    }     
    //JSONだと順番を保証できないため、馬番の昇順で並び替える
    race_list.sort((a, b) => {
        if (a.horse_number < b.horse_number){ 
            return -1;
        }
        if (a.horse_number > b.horse_number) {
            return 1;
        }
        return 0;
    });     

    //テーブル作成
    let RaceCardCol = Object.keys(race_list[0]); //JSONから抽出するカラム名の配列
    let RaceCardTableHeader = ["馬番","馬名","性齢", "騎手名", "斤量"]; //テーブルの列名の配列


    let table = document.createElement("table");
    table.className = 'table table-striped';
    table.style.backgroundColor = "#EFFBFF"
    let RaceCardRow = table.insertRow(-1);
    
    for (let i = 0; i < RaceCardCol.length; i++) {
        var RaceCardHeadRow = document.createElement("th");      // TABLE HEADER.
        RaceCardHeadRow.innerHTML = RaceCardTableHeader[i];
        RaceCardRow.appendChild(RaceCardHeadRow);
    }
    for (var i = 0; i < race_list.length; i++) {
        RaceCardRow = table.insertRow(-1);
        for (var j = 0; j < RaceCardCol.length; j++) {
            var RaceCardCell = RaceCardRow.insertCell(-1);
            RaceCardCell.innerHTML = race_list[i][RaceCardCol[j]];
        }
    }
    //テーブル作成ここまで
    var  RaceConcatlist= race_list.slice();


    //出馬表をhtmlに表示させる
    let RaceCardTable = document.getElementById("showData");
    RaceCardTable.innerHTML = "";
    RaceCardTable.appendChild(table);
    

    //予想表示、centerは軸馬か否かの判定（0or1）
    let center_number = center.indexOf(1) //軸馬のindexを取得
    let bet_numbers = [];
    var idx = bet.indexOf(1);
    while (idx != -1) {
        bet_numbers.push(idx);
        idx = bet.indexOf(1, idx + 1);
    }
    bet_numbers = bet_numbers.filter(function (value){
        return value!=center_number
    })
    let message = document.createElement("h2");
    if (pred.every(x => x == 1)){
        message.innerHTML = "このレースは購入推奨外レースです"
    }else{
        message.innerHTML = "このレースの軸及び相手は次の通りです";
    } 
    let JudgeBetMessage = document.getElementById("showBet");
    JudgeBetMessage.innerHTML = "";
    JudgeBetMessage.appendChild(message);
    if (pred.every(x => x == 1)) {
        $('#showHorse').hide();
    } else {
        $('#showHorse').show();
        $("#CenterHorse").text(`【軸】${RaceConcatlist[center_number]["horse_number"]}:${RaceConcatlist[center_number]["horse_name"]}`);
        $("#BetHorse_1").text(`【相手１頭目】${RaceConcatlist[bet_numbers[0]]["horse_number"]}:${RaceConcatlist[bet_numbers[0]]["horse_name"]}`);
        $("#BetHorse_2").text(`【相手２頭目】${RaceConcatlist[bet_numbers[1]]["horse_number"]}:${RaceConcatlist[bet_numbers[1]]["horse_name"]}`);
        $("#BetHorse_3").text(`【相手３頭目】${RaceConcatlist[bet_numbers[2]]["horse_number"]}:${RaceConcatlist[bet_numbers[2]]["horse_name"]}`);
    
        const recommend_table=`<table class="table table-striped" style="background-color: #EFFBFF;"  id="recommend_table_id">
                                <thead >
                                <tr>
                                    <th class="fs-5">券種</th>
                                    <th class="fs-5">軸</th>
                                    <th class="fs-5">相手</th>
                                    <th class="fs-5">結果</th>
                                </tr>
                                </thead>
                                <tbody id="recommend_table"><?=$view?>
                                </tbody>
                                </table>` 
        const umaren = `<tr><td class="fs-5">馬連(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
        const umatan = `<tr><td class="fs-5">馬単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
        const sanrenpuku = `<tr><td class="fs-5">三連複(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
        const sanrentan = `<tr><td class="fs-5">三連単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
        $("#recommend").html(recommend_table)
        $("#recommend_table_id").find("#recommend_table").append(umaren);
        $("#recommend_table_id").find("#recommend_table").append(umatan);
        $("#recommend_table_id").find("#recommend_table").append(sanrenpuku);
        $("#recommend_table_id").find("#recommend_table").append(sanrentan);
    }

    //結果画面
    let RaceResultCol =  Object.keys(result_list[0]);
    let RaceResultHeader  = ["着順","馬番", "馬名", "性齢", "騎手名", "斤量", "人気", "オッズ"];

    let result = document.createElement("table");
    result.className = 'table table-striped';
    result.style.backgroundColor = "#EFFBFF"
    let RaceResultRow = result.insertRow(-1);

    for (let i = 0; i < RaceResultCol.length; i++) {
        var RaceResultHeadRow = document.createElement("th");      // TABLE HEADER.
        RaceResultHeadRow.innerHTML = RaceResultHeader[i];
        RaceResultRow.appendChild(RaceResultHeadRow);
    }
    
    


    
    const rank_list = []
    for (let i = 0; i < result_list.length; i++) {
        rank_list.push(result_list[i])
    }
    rank_list.sort(function (a, b) {
        if (a.rank < b.rank) return -1;
        if (a.rank > b.rank) return 1;
        return 0;
    });
    
    for (var i = 0; i < rank_list.length; i++) {
        RaceResultRow = result.insertRow(-1);
        for (var j = 0; j < RaceResultCol.length; j++) {
            var RaceResultCell = RaceResultRow.insertCell(-1);
            RaceResultCell.innerHTML = rank_list[i][RaceResultCol[j]];
        ;
        }
    }
    
    let RaceResultTable = document.getElementById("showResult");
    RaceResultTable.innerHTML = "";
    RaceResultTable.appendChild(result);
    Object.assign(RaceConcatlist, result_list);
    //JSONだと順番を保証できないため、馬番の昇順で並び替える
    RaceConcatlist.sort((a, b) => {
        if (Number(a.horse_number) < Number(b.horse_number)){ 
            return -1;
        }
        if (Number(a.horse_number) > Number(b.horse_number)) {
            return 1;
        }
        return 0;
    });     
    console.log(RaceConcatlist);

    if (pred.every(x => x == 1)) {
        $('#showMoney').html('<h2>このレースは購入推奨外レースです</h2>');
    } else {
        $("#CenterHorse_r").text(`【軸馬】${RaceConcatlist[center_number]["horse_number"]}:${RaceConcatlist[center_number]["horse_name"]}(${RaceConcatlist[center_number]["favorite"]}人気)  ${RaceConcatlist[center_number]["rank"]}着`);
        $("#BetHorse_1_r").text(`【紐馬１頭目】${RaceConcatlist[bet_numbers[0]]["horse_number"]}:${RaceConcatlist[bet_numbers[0]]["horse_name"]}(${RaceConcatlist[bet_numbers[0]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[0]]["rank"]}着`);
        $("#BetHorse_2_r").text(`【紐馬２頭目】${RaceConcatlist[bet_numbers[1]]["horse_number"]}:${RaceConcatlist[bet_numbers[1]]["horse_name"]}(${RaceConcatlist[bet_numbers[1]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[1]]["rank"]}着`);
        $("#BetHorse_3_r").text(`【紐馬３頭目】${RaceConcatlist[bet_numbers[2]]["horse_number"]}:${RaceConcatlist[bet_numbers[2]]["horse_name"]}(${RaceConcatlist[bet_numbers[2]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[2]]["rank"]}着`);

        const recommend_table = `<table class="table table-striped" id="result_table_id" style="background-color: #EFFBFF;">
                                <thead>
                                <tr>
                                    <th class="fs-5">券種</th>
                                    <th class="fs-5">軸</th>
                                    <th class="fs-5">相手</th>
                                    <th class="fs-5">結果</th>
                                </tr>
                                </thead>
                                <tbody id="result_table"><?=$view?>
                                </tbody>
                                </table>`
   
        //RaceConcatlist.sort(function (a, b) {
        //    if (a.horse_number < b.horse_number) return -1;
        //    if (a.horse_number > b.horse_number) return 1;
        //    return 0;
        //}); 
        console.log(return_list);
        console.log(center_number);
        console.log(bet_numbers);
        const umaren = `<tr><td class="fs-5">馬連(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["umaren"]}円</td>`;
        const umatan = `<tr><td class="fs-5">馬単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["umatan"]}円</td>`;
        const sanrenpuku = `<tr><td class="fs-5">三連複(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["sanrenpuku"]}円</td>`;
        const sanrentan = `<tr><td class="fs-5">三連単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["sanrentan"]}円</td>`;
        $("#result").html(recommend_table)
        $("#result_table_id").find("#result_table").append(umaren);
        $("#result_table_id").find("#result_table").append(umatan);
        $("#result_table_id").find("#result_table").append(sanrenpuku);
        $("#result_table_id").find("#result_table").append(sanrentan);
    }
  </script>
  <script>
    let form = document.getElementById('search');
    form.addEventListener('submit', function(event) { // 1
        event.preventDefault()
        
        let data = new FormData(); // 2

        data.append("race_date", document.getElementById("race_date").value)  
        data.append("race_park", document.getElementById("race_park").value)
        data.append("race_number", document.getElementById("race_number").value)
        //data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"      
        axios.post('{% url "forecast:search" %}', data)
            .then(function (response){
                res = response.data;
                let race_list = Object.values(res["data_pre"]);
                let result_list = Object.values(res["data_lat"]);
                let return_list = Object.values(res["data_re"]);
                
                //let disable_judge = []
                //for (let i = 0; i < result_list.length; i++){
                //    disable_judge.push(result_list[i][1]["rank"]);
                //}
                //console.log(disable_judge)
                //if (disable_judge.every(x => x == '*')){
                //    $('#ex1-tab-2').prop({'class': 'disabled'});
                //}else{
                //    $('#ex1-tab-2').removeProp({'class': 'disabled'});
                //}

            
                $("#race_park_hold").text(`${race_list[1]["race_park"]}`);
                $("#race_number_hold").text(`${race_list[1]["race_number"]}R`);
                $("#race_name_hold").text(`${race_list[1]["race_name"]}`);
                $("#course_len_hold").text(`${race_list[1]["course_len"]}m`);
                $("#n_horses_hold").text(`${race_list[1]["n_horses"]}頭`);
                $("#race_condition_hold").text(`${race_list[1]["race_condition"]}`);
                $("#race_turn_hold").text(`(${race_list[1]["race_turn"]})`);
                $("#race_type_hold").text(`${race_list[1]["race_type"]}`);
                $("#weather_hold").text(`${race_list[1]["weather"]}`);

                const pred = race_list.map(race =>race.pred);
                const center = race_list.map(race =>race.center);
                const bet = race_list.map(race =>race.bet);
            
                for (let i = 0; i < race_list.length; i++) {
                    delete race_list[i]["race_date"];
                    delete race_list[i]["horse_id"];
                    delete race_list[i]["race_park"];
                    delete race_list[i]["race_number"];
                    delete race_list[i]["race_name"];
                    delete race_list[i]["course_len"];
                    delete race_list[i]["n_horses"];
                    delete race_list[i]["race_condition"];
                    delete race_list[i]["race_turn"];
                    delete race_list[i]["race_type"];
                    delete race_list[i]["weather"]; 
                    delete race_list[i]["pred"];
                    delete race_list[i]["center"];
                    delete race_list[i]["bet"];
                }
                //JSONだと順番を保証できないため、馬番の昇順で並び替える
            
                let RaceCardCol = Object.keys(race_list[0]);
                let RaceCardTableHeader = ["馬番","馬名","性齢", "騎手名", "斤量"];

                let table = document.createElement("table");
                table.className = 'table table-striped';
                table.style.backgroundColor = "#EFFBFF"
                let RaceCardRow = table.insertRow(-1);
                
                for (let i = 0; i < RaceCardCol.length; i++) {
                    var RaceCardHeadRow = document.createElement("th");      // TABLE HEADER.
                    RaceCardHeadRow.innerHTML = RaceCardTableHeader[i];
                    RaceCardRow.appendChild(RaceCardHeadRow);
                }
                for (var i = 0; i < race_list.length; i++) {
                    RaceCardRow = table.insertRow(-1);
                    for (var j = 0; j < RaceCardCol.length; j++) {
                        var RaceCardCell = RaceCardRow.insertCell(-1);
                        RaceCardCell.innerHTML = race_list[i][RaceCardCol[j]];
                    }
                }
                
                //出馬表をhtmlに表示させる
                let RaceCardTable = document.getElementById("showData");
                RaceCardTable.innerHTML = "";
                RaceCardTable.appendChild(table);
                
                let center_number = center.indexOf(1)
                let bet_numbers = [];
                var idx = bet.indexOf(1);
                while (idx != -1) {
                    bet_numbers.push(idx);
                    idx = bet.indexOf(1, idx + 1);
                }
                bet_numbers = bet_numbers.filter(function (value){
                    return value!=center_number
                })
                let message = document.createElement("h2");
                if (pred.every(x => x == 1)){
                    //message.innerHTML = "このレースは購入推奨外レースです"
                    console.log("ああ")
                }else{
                    message.innerHTML = "このレースの軸及び相手は次の通りです";
                } 
                let JudgeBetMessage = document.getElementById("showBet");
                JudgeBetMessage.innerHTML = "";
                JudgeBetMessage.appendChild(message);
                if (pred.every(x => x == 1)) {
                    $('#showHorse').hide();
                } else {
                    $('#showHorse').show();
                    $("#CenterHorse").text(`【軸】${race_list[center_number]["horse_number"]}:${race_list[center_number]["horse_name"]}`);
                    $("#BetHorse_1").text(`【相手１頭目】${race_list[bet_numbers[0]]["horse_number"]}:${race_list[bet_numbers[0]]["horse_name"]}`);
                    $("#BetHorse_2").text(`【相手２頭目】${race_list[bet_numbers[1]]["horse_number"]}:${race_list[bet_numbers[1]]["horse_name"]}`);
                    $("#BetHorse_3").text(`【相手３頭目】${race_list[bet_numbers[2]]["horse_number"]}:${race_list[bet_numbers[2]]["horse_name"]}`);
                
                    const recommend_table=`<table class="table table-striped" id="recommend_table_id" style="background-color:#EFFBFF;">
                                            <thead >
                                            <tr>
                                                <th class="fs-5">券種</th>
                                                <th class="fs-5">軸</th>
                                                <th class="fs-5">相手</th>
                                                <th class="fs-5">結果</th>
                                            </tr>
                                            </thead>
                                            <tbody id="recommend_table"><?=$view?>
                                            </tbody>
                                            </table>` 
                    const umaren = `<tr><td class="fs-5">馬連(ながし)</td><td class="fs-5">${race_list[center_number]["horse_number"]}</td><td class="fs-5">${race_list[bet_numbers[0]]["horse_number"]},${race_list[bet_numbers[1]]["horse_number"]},${race_list[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
                    const umatan = `<tr><td class="fs-5">馬単(ながしマルチ)</td><td class="fs-5">${race_list[center_number]["horse_number"]}</td><td class="fs-5">${race_list[bet_numbers[0]]["horse_number"]},${race_list[bet_numbers[1]]["horse_number"]},${race_list[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
                    const sanrenpuku = `<tr><td class="fs-5">三連複(ながし)</td><td class="fs-5">${race_list[center_number]["horse_number"]}</td><td class="fs-5">${race_list[bet_numbers[0]]["horse_number"]},${race_list[bet_numbers[1]]["horse_number"]},${race_list[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
                    const sanrentan = `<tr><td class="fs-5">三連単(ながしマルチ)</td><td class="fs-5">${race_list[center_number]["horse_number"]}</td><td class="fs-5">${race_list[bet_numbers[0]]["horse_number"]},${race_list[bet_numbers[1]]["horse_number"]},${race_list[bet_numbers[2]]["horse_number"]}</td><td class="fs-5"></td>`;
                    $("#recommend").html(recommend_table)
                    $("#recommend_table_id").find("#recommend_table").append(umaren);
                    $("#recommend_table_id").find("#recommend_table").append(umatan);
                    $("#recommend_table_id").find("#recommend_table").append(sanrenpuku);
                    $("#recommend_table_id").find("#recommend_table").append(sanrentan);
                }
                let RaceResultCol =  Object.keys(result_list[0]);
                let RaceResultHeader  = ["着順","馬番", "馬名", "性齢", "騎手名", "斤量", "人気", "オッズ"];

                let result = document.createElement("table");
                result.className = 'table table-striped';
                result.style.backgroundColor = "#EFFBFF";
                let RaceResultRow = result.insertRow(-1);

                for (let i = 0; i < RaceResultCol.length; i++) {
                    var RaceResultHeadRow = document.createElement("th");      // TABLE HEADER.
                    RaceResultHeadRow.innerHTML = RaceResultHeader[i];
                    RaceResultRow.appendChild(RaceResultHeadRow);
                }

                var  RaceConcatlist= race_list.slice();
                Object.assign(RaceConcatlist, result_list);

                result_list.sort(function (a, b) {
                    if (a.horse_number < b.horse_number) return -1;
                    if (a.horse_number > b.horse_number) return 1;
                    return 0;
                });    

                const rank_list = []
                for (let i = 0; i < result_list.length; i++) {
                    rank_list.push(result_list[i])
                }
                rank_list.sort(function (a, b) {
                    if (a.rank < b.rank) return -1;
                    if (a.rank > b.rank) return 1;
                    return 0;
                });
                
                for (var i = 0; i < rank_list.length; i++) {
                    RaceResultRow = result.insertRow(-1);
                    for (var j = 0; j < RaceResultCol.length; j++) {
                        var RaceResultCell = RaceResultRow.insertCell(-1);
                        RaceResultCell.innerHTML = rank_list[i][RaceResultCol[j]];
                    ;
                    }
                }
                console.log(return_list);
                console.log(RaceConcatlist);
                let RaceResultTable = document.getElementById("showResult");
                RaceResultTable.innerHTML = "";
                RaceResultTable.appendChild(result);
                if (pred.every(x => x == 1)) {
                    console.log("aa")
                    //$('#showMoney').html('<h2>このレースは購入推奨外レースです</h2>');
                } else {
                    $('#showMoney').show();
                    $("#CenterHorse_r").text(`【軸馬】${RaceConcatlist[center_number]["horse_number"]}:${RaceConcatlist[center_number]["horse_name"]}(${RaceConcatlist[center_number]["favorite"]}人気)  ${RaceConcatlist[center_number]["rank"]}着`);
                    $("#BetHorse_1_r").text(`【紐馬１頭目】${RaceConcatlist[bet_numbers[0]]["horse_number"]}:${RaceConcatlist[bet_numbers[0]]["horse_name"]}(${RaceConcatlist[bet_numbers[0]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[0]]["rank"]}着`);
                    $("#BetHorse_2_r").text(`【紐馬２頭目】${RaceConcatlist[bet_numbers[1]]["horse_number"]}:${RaceConcatlist[bet_numbers[1]]["horse_name"]}(${RaceConcatlist[bet_numbers[1]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[1]]["rank"]}着`);
                    $("#BetHorse_3_r").text(`【紐馬３頭目】${RaceConcatlist[bet_numbers[2]]["horse_number"]}:${RaceConcatlist[bet_numbers[2]]["horse_name"]}(${RaceConcatlist[bet_numbers[2]]["favorite"]}人気)  ${RaceConcatlist[bet_numbers[2]]["rank"]}着`);
                    
                    const recommend_table = `<table class="table table-striped" id="result_table_id" style="background-color: #EFFBFF;">
                                            <thead >
                                            <tr>
                                                <th class="fs-5">券種</th>
                                                <th class="fs-5">軸</th>
                                                <th class="fs-5">相手</th>
                                                <th class="fs-5">結果</th>
                                            </tr>
                                            </thead>
                                            <tbody id="result_table">
                                            </tbody>
                                            </table>`
                    const umaren = `<tr><td class="fs-5">馬連(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["umaren"]}円</td>`;
                    const umatan = `<tr><td class="fs-5">馬単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["umatan"]}円</td>`;
                    const sanrenpuku = `<tr><td class="fs-5">三連複(ながし)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["sanrenpuku"]}円</td>`;
                    const sanrentan = `<tr><td class="fs-5">三連単(ながしマルチ)</td><td class="fs-5">${RaceConcatlist[center_number]["horse_number"]}</td><td class="fs-5">${RaceConcatlist[bet_numbers[0]]["horse_number"]},${RaceConcatlist[bet_numbers[1]]["horse_number"]},${RaceConcatlist[bet_numbers[2]]["horse_number"]}</td><td class="fs-5">${return_list[0]["sanrentan"]}円</td>`;
                    $("#result").html(recommend_table)
                    $("#result_table_id").find("#result_table").append(umaren);
                    $("#result_table_id").find("#result_table").append(umatan);
                    $("#result_table_id").find("#result_table").append(sanrenpuku);
                    $("#result_table_id").find("#result_table").append(sanrentan);
                }
            })
            .catch(errors =>{
                console.log(errors);
                alert("該当するレースは存在しません")
            }) // 6

    })
    </script>
{% endblock %}  
