.logo {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  width: 20;
}

.title{
  position: sticky;
  /* top: 10rem; */
  bottom: 0;
  left: 50rem;
  z-index: 1;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}

