.logo {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  width: 20;
}

.title{
  position: sticky;
  /* top: 10rem; */
  bottom: 0;
  left: 50rem;
  z-index: 1;
}

.sidebar{
  position: fixed;
  top: 15rem;
  bottom: 0;
  left: 12rem;
}

.main{
  position: relative;
  /* top: 2.7rem; */
  bottom: 0;
  left: 27rem;
  /* height: 30%; */
  overflow: scroll;
}

