{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!--Main layout-->


        <div class="container" >
            <h2 class="text-center">{{ RACE_DATE|date:"M" }}{{ RACE_DATE|date:"d" }}日({{ RACE_DATE|date:"D" }})のレース</h2>
            <br>
            <!--Section: Content-->
            <section>
                <div class="row">
                    <div class="card" style="height:20rem;">
                        <div class="row">
                            {% for race in race_list|slice:"10:11" %}
                            <div class="col-6">
                                <h3 class="card-header">{{ race.race_park }}競馬場&nbsp;天気：{{ race.weather }}<br></h3>
                                <br>
                                <div class="card-body fs-1">
                                    <div class="d-flex align-items-center justify-content-evenly">
                                        <div>
                                            <p>メインレース</p>
                                            <p>{{ race.race_name }}</p>
                                        </div>
                                        <a class="btn btn-lg fs-3" href="{% url 'forecast:race_detail' race.race_id %}" class="fs-3" style="background-color: #7FD1AE;">予想を見る</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/sunset_horse.jpg' %}"  alt="" style="width:40.5rem; height:20rem;">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row">
                    <div class="card" style="width:91rem; height:20rem;">
                        <div class="row">
                            {% for race in race_list|slice:"22:23" %}
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'img/one_horse.jpg' %}"  alt="" style="width:40.5rem; height:20rem;">
                            </div>
                            <div class="col-6">
                                <h3 class="card-header">{{ race.race_park }}競馬場&nbsp;天気：{{ race.weather }}<br></h3>
                                <br>
                                <div class="card-body fs-1">
                                    <div class="d-flex align-items-center justify-content-evenly">
                                        <div>
                                            <p>メインレース</p>
                                            <p>{{ race.race_name }}</p>
                                        </div>
                                        <a class="btn btn-lg fs-3" href="{% url 'forecast:race_detail' race.race_id %}" class="" style="background-color: #7FD1AE;">予想を見る</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if race_list|length > 24 %}
                <div class="row">
                    <div class="card" style="width:91rem; height:20rem;">
                        <div class="row">
                            {% for race in race_list|slice:"34:35" %}
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'img/one_horse.jpg' %}"  alt="" style="width:40.5rem; height:20rem; opacity: 0.5; filter: grayscale(100%);">
                            </div>
                            <div class="col-6">
                                <h3 class="card-header">{{ race.race_park }}競馬場&nbsp;天気：{{ race.weather }}<br></h3>
                                <br>
                                <div class="card-body fs-1">
                                    <div class="d-flex align-items-center justify-content-evenly">
                                        <div>
                                            <p>メインレース</p>
                                            <p>{{ race.race_name }}</p>
                                        </div>
                                        <a class="btn btn-lg fs-3" href="{% url 'forecast:race_detail' race.race_id %}" class="" style="background-color: #7FD1AE;">予想を見る</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
            <!--Section: Content-->

            <hr class="my-5" />

            <h2 class="text-center">{{ RACE_DATE|date:"M" }}{{ RACE_DATE|date:"d" }}日({{ RACE_DATE|date:"D" }})のレース予想</h2>

            <hr class="my-5" />

            <!--Section: Content-->

        <!--Section: Content-->
        </div>
    </div>
{% endblock %}

