{% extends 'base.html' %}

{% block content %}
<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="timeline timeline-five px-3 px-sm-0">
            <!-- Item 1 -->
            <div class="row">
                <!-- timeline item 1 center image & middle line -->
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="d-flex h-50">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <!-- <span class="m-3 avatar-separator">
                        <img class="img-fluid rounded-circle" src="" alt="John Portrait">
                    </span> -->
                    <div class="d-flex h-50">
                        <div class="col middle-line">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- Timeline item 1 content-->
                <div class="col-12 col-lg-12 col-xl-11 my-4">
                    <div class="card border-gray-300 text-primary p-4">
                        <div class="card-body">
                            <div class="post-meta mb-3">
                                <a class="text-primary" href="#"><span class="far fa-thumbs-up me-1"></span>345</a>
                            </div>
                            <h2 class="h5 card-title text-primary">Time Schedule 1</h2>
                            <p>Stay organized, reduce stress, and accomplish personal and business goals with a daily schedule template. It’s a simple yet effective time-management tool for any daily activity, whether you’re managing a busy work schedule, academic assignments or family chores. </p>
                            <button class="btn btn-sm btn-primary" type="button" data-bs-target="#t1_details" data-bs-toggle="collapse">Show Details <span class="fas fa-angle-down toggle-arrow ms-1"></span></button>
                            <div class="collapse" id="t1_details">
                                <div class="p-2 mt-3 text-monospace">
                                    <div>08:30 - 09:00 Breakfast in Town</div>
                                    <div>09:00 - 10:30 Attend a team meeting</div>
                                    <div>10:30 - 10:45 Research on new technologies and tools</div>
                                    <div>10:45 - 12:00 It’s a good idea to review the day’s work</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="row">
                <!-- timeline item 2 center image & middle line -->
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="d-flex h-50">
                        <div class="col middle-line">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <!-- <span class="m-3 avatar-separator">
                        <img class="img-fluid rounded-circle" src="" alt="Bonnie Portrait">
                    </span> -->
                    <div class="d-flex h-50">
                        <div class="col middle-line">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- Timeline item 2 content -->
                <div class="col-12 col-lg-12 col-xl-11 my-4">
                    <div class="card border-gray-300 p-4">
                        <div class="card-body">
                            <div class="post-meta mb-3">
                                <a class="text-secondary" href="#"><span class="far fa-thumbs-up me-1"></span>515</a>
                            </div>
                            <h2 class="h5 card-title">Time Schedule 2</h2>
                            <p>Stay organized, reduce stress, and accomplish personal and business goals with a daily schedule template. It’s a simple yet effective time-management tool for any daily activity, whether you’re managing a busy work schedule, academic assignments or family chores. </p>
                            <button class="btn btn-sm btn-primary" type="button" data-bs-target="#t2_details" data-bs-toggle="collapse">Show Details <span class="fas fa-angle-down toggle-arrow ms-1"></span></button>
                            <div class="collapse" id="t2_details">
                                <div class="p-2 mt-3 text-monospace">
                                    <div>08:30 - 09:00 Breakfast in Town</div>
                                    <div>09:00 - 10:30 Attend a team meeting</div>
                                    <div>10:30 - 10:45 Research on new technologies and tools</div>
                                    <div>10:45 - 12:00 It’s a good idea to review the day’s work</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Timeline Item 3 -->
            <div class="row">
                <!-- timeline item 3 center image & middle line -->
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="d-flex h-50">
                        <div class="col middle-line">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <!-- <span class="m-3 avatar-separator">
                        <img class="img-fluid rounded-circle" src="" alt="Jax Portrait">
                    </span> -->
                    <div class="d-flex h-50">
                        <div class="col middle-line">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- Timeline item 3 content -->
                <div class="col-12 col-lg-12 col-xl-11 my-4">
                    <div class="card border-gray-300 p-4">
                        <div class="card-body">
                            <div class="post-meta mb-3">
                                <a href="#"><span class="far fa-thumbs-up me-1"></span>115</a>
                            </div>
                            <h2 class="h5 card-title">Time Schedule 3</h2>
                            <p>Stay organized, reduce stress, and accomplish personal and business goals with a daily schedule template. It’s a simple yet effective time-management tool for any daily activity, whether you’re managing a busy work schedule, academic assignments or family chores. </p>
                            <button class="btn btn-sm btn-primary" type="button" data-bs-target="#t3_details" data-bs-toggle="collapse">Show Details <span class="fas fa-angle-down toggle-arrow ms-1"></span></button>
                            <div class="collapse" id="t3_details">
                                <div class="p-2 mt-3 text-monospace">
                                    <div>08:30 - 09:00 Breakfast in Town</div>
                                    <div>09:00 - 10:30 Attend a team meeting</div>
                                    <div>10:30 - 10:45 Research on new technologies and tools</div>
                                    <div>10:45 - 12:00 It’s a good idea to review the day’s work</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>    
</main>
{% endblock %}